/* color variables */

:root {
   --background: #FFE4C4;  /* bisque */
   --card: #B08D57;
   --card-border: #8B6B3F;
   --card-text: #FFF8E7;
   --text: #3E2C1C;
   --hidden-card: #C49A6C;
   --card-hover: #DAA520;
   --hidden-font: #fff;
}

body {
    background-color: var(--background);
    color: var(--text);
    text-align: center;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/*  Headline styling */
h1 {
    margin-top: 20px;
    color: var(--text);
}

/* score display */
#score {
    margin: 10px 0;
    font-weight: bold;
    color: var(--text);
}

/* control buttons */
.controls {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
}

.controls button {
    background-color: var(--card);
    color: var(--card-text);
    border: 2px solid var(--card-border);
    border-radius: 8px;
    padding: 10px 16px;
    font-size: 1em;
    cursor: pointer;
    transition: all 0,2s ease;
    font-weight: bold;
}

.controls button:hover {
    background-color: var(--card-hover);
    color: var(var(--text));
    transform: scale(1.05);
}

.controlsbutton:active {
    transform: scale(0.98);
}

/*  game board */

#board {
    display: grid;
    grid-template-columns: repeat(4, 80px);
    gap: 10px;
    justify-content: center;
    margin: 20px auto;
}

/* Style for text on the backside of card */
.back-text {
    color: var(--card-text);
    font-size: 0,9em;
    user-select: none;
    justify-content: center;
}

/* card style */
.card {
    width: 80px;
    height: 80px;
    background-color: var(--card);
    color: var(--card-text);
    border: 2px solid var(--card-border);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}

.card:hover {
    background-color: var(--card-hover);
    border-color: var(--card-hover);
    transform: scale(1.05);
}

.hidden {
    background-color: var(--hidden-card);
    color: transparent;
}

/* font awesome icons */
.card i {
    color: var(--hidden-font);
    font-size: 2em;
    pointer-events: none;
}

.hidden i {
    visibility: hidden;
}